{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{choice.question_text}}</title>
    {% tailwind_css %}
</head>
<body>
<header>
    <div class="flex items-center px-8 text-sans">
        <a><img src="{% static 'img/rb.svg' %}" alt="food"></a>

        <nav class="text-xl ml-auto">
            <ul class=" flex flex-row gap-8">
                <li>
                    <a href="{% url 'index' %}">Главная</a>
                </li>
                <li>
                    <a href="{% url 'news' %}">Новости</a>
                </li>
                <li>
                    <a href="{% url 'rest' %}">Рестораны</a>
                </li>
                <li>
                    <a href="{% url 'polls' %}">Опросы</a>
                </li>
                <li>
                    <a href="{% url 'form' %}">Свяжитесь с нами</a>
                </li>
                {%if not request.user.is_authenticated %}
                <li>
                    <a href="{% url 'login' %}">Войти</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Регистрация</a>
                </li>
                {%endif%}
                {%if request.user.is_authenticated %}
                <li>{{ request.user.username }}</li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {%endif%}

            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="flex flex-col text-left ml-32">
        <h1 class="text-3xl mb-12 font-bold">{{choice.question_text}}</h1>
        <form method="POST" action="{% url 'voted' choice.id %}">
            {% csrf_token %}
            <ul class="flex flex-col gap-5">
                {% for c in choice.choice_set.all %}
                <li class="text-2xl ">
                    <input type="radio" name="choice" value="{{c.id}}" id="choice{{forloop.counter}}">
                    <label for="choice{{forloop.counter}}">{{c.choice_text}}</label> ---- {{c.votes}}
                </li>
                {% endfor %}
            </ul>
            <input style="border: 3px solid black; border-radius: 6px; cursor: pointer; width: auto; padding: 4px 8px; margin-top: 14px; font-size: 22px; background-color: #fffafa;"
                   type="submit" value="Проголосовать">
        </form>
    </div>


</main>
</body>
</html>